/* Table of Contents

    1. General CSS
    2. Login Screen
    3. Dashboard Screen
    4. Media Queries

*/

/* 1. General CSS */

html, body {
    height: 100vh;
}

body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-wrapper {
    width: 100%;
}

.page-container {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 90%;
    margin: 0 auto;
}

/* 2. Login Screen */

.login-logo {
    width: 190px;
    position: relative;
    left: 45px;
    bottom: 20px;
    transition: all 0.5s;
}

.login-logo:hover {
    transform: scale(1.025);
}

.login-input {
    width: 280px;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #606E81;
    color: #C7CAD1;
    padding: 0 0 5px 30px;
    margin-left: -20px;
    transition: border 0.3s;
}

.login-input:focus {
    border-bottom: 1px solid #9D50BB;
}

.login-input::placeholder {
    color: #C7CAD1;
}

.login-input-logo {
    color: #C7CAD1;
}

.login-login-btn {
    width: 280px;
    height: 40px;
    background-size: 300% auto;
    background-image: linear-gradient(to right, #9D50BB 0%, #854CB2 51%, #6E48AA 100%);
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-top: 1em;
    cursor: pointer;
    transition: all 0.5s;
}

.login-login-btn:hover {
    background-position: right center;
    box-shadow: 0px 10px 5px 0px #000000;
}

.login-login-btn:focus {
    outline: 0;
}

.login-register-btn {
    display: block;
    color: #606E81;
    text-align: center;
    margin-top: 1em;
    transition: all 0.5s;
}

.login-register-btn:hover {
    text-decoration: none;
    color: #606E81;
    transform: scale(1.1);
}

/* 3. Dashboard Screen */

.dashboard-list {
    width: 250px;
    position: relative;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 7px 5px 0px #000000;
}

.dashboard-list-container {
    min-height: 50px;
    border-radius: 10px 10px 0 0px;
    padding: 0 !important;
}

.dashboard-list-upper-content {
    background: #9D50BB;
    border-bottom: 1px solid #9D50BB;
    border-radius: 10px 10px 0 0px;
    text-align: center;
    font-size: 19px;
    line-height: 43px;
    list-style: none;
}

.dashboard-delete-list-btn {
    position: absolute;
    left: 15px;
    color: #540E7A;
    margin: 0 !important;
    transition: transform 0.4s;
}

.dashboard-delete-list-btn:hover {
    color: #540E7A;
    transform: scale(1.3);
    transform: rotate(360deg);
}

.dashboard-add-list-btn {
    position: absolute;
    right: 15px;
    color: #540E7A;
    margin: 0 !important;
    transition: transform 0.4s;
}

.dashboard-add-list-btn:hover {
    color: #540E7A;
    transform: scale(1.3);
    transform: rotate(180deg);
}

.dashboard-list-title {
    margin: 0 !important;
}

.dashboard-list-title:focus {
    outline: 0;
}

.dashboard-list-complete-btn {
    outline: 0;
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 14px;
    margin-right: 150px;
    cursor: pointer;
}

.dashboard-list-time-btn {
    outline: 0;
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
}

.dashboard-list-lower-content {
    height: 30px;
    list-style: none;
    border-bottom: 1px solid #606E81;
}

.dashboard-list-checkbox {
    margin-left: 15px;
}

.dashboard-list-time {
    outline: 0;
    display: inline-block;
    padding-left: 10px;
}

.dashboard-list-time:focus {
    outline: 0;
}

.dashboard-list-item {
    outline: 0;
    display: inline-block;
}

.dashboard-list-item:focus {
    outline: 0;
}

.dashboard-add-item-btn {
    position: relative;
    top: 5px;
    list-style: none;
    text-align: center;
    color: #540E7A;
    cursor: pointer;
    transition: transform 0.4s;
}

.dashboard-add-item-btn:hover {
    color: #540E7A;
    transform: scale(1.3);
    transform: rotate(180deg);
}

.dashboard-delete-item-btn {
    position: absolute;
    right: 15px;
    color: #540E7A;
    margin: 0 !important;
    transition: transform 0.4s;
}

.dashboard-delete-item-btn:hover {
    color: #540E7A;
    transform: scale(1.3);
    transform: rotate(360deg);
}

.dashboard-admin-btn {
    width: 150px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #9D50BB 0%, #854CB2 51%, #6E48AA 100%);
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s;
}

.dashboard-admin-btn:hover {
    background-position: right center;
    box-shadow: 0px 10px 5px 0px #000000;
}

.dashboard-logout-btn {
    width: 150px;
    height: 40px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #9D50BB 0%, #854CB2 51%, #6E48AA 100%);
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-top: 1em;
    cursor: pointer;
    transition: all 0.5s;
}

.dashboard-logout-btn:hover {
    background-position: right center;
    box-shadow: 0px 10px 5px 0px #000000;
}

.dashboard-list-item-done {
    text-decoration: line-through;
    color: green;
}

/* 4. Admin Page */

.admin-list {
    width: 450px;
    position: relative;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 7px 5px 0px #000000;
}

.admin-user-container {
    min-height: 50px;
    border-radius: 10px 10px 0 0px;
    padding: 0 !important;
}

.admin-user-upper-content {
    background: #9D50BB;
    border-bottom: 1px solid #9D50BB;
    border-radius: 10px 10px 0 0px;
    text-align: center;
    font-size: 19px;
    line-height: 43px;
    list-style: none;
}

.admin-user-middle-content {
    list-style: none;
}

.admin-user-lower-content {
    list-style: none;
}
